<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
<h2>登录</h2>
用户名：<input type="text" v-model="no"> <br>
密码 ：<input type="text" v-model="password"> <br>
<button v-on:click="login">登录</button>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            no:'',
            password:''
        },
        methods: {
            // 发送ajax请求
            login: function() {
                //window.location.href="index.html";
                var that = this;
                axios.get('http://localhost:7777/user/login?no='+this.no+'&password='+this.password)
                    .then(function (response) {
                        var data = response.data;
                        if(data.message==="成功!"){
                            window.location.href="index.html";
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });
</script>
</body>
</html>